{% extends 'base.html' %}
{% block content %}
<div class='w3-container' style="margin-top: 64px">
    <div class="w3-display-container ">
        <div class="w3-cell-row">
            <h1 class="w3-cell"> COINS </h1>
            <a href="{% url 'coins:imagecoin_create' %}" class="w3-cell w3-right">
                <p>Add a new one</p>
            </a>
        </div>

        <hr class="w3-margin-top">
        <div class="w3-row-padding">
            {% for imagecoin in object_list %}
            <div class='w3-third'>
                <div class="w3-panel w3-card-4">
                    <img src="{{ imagecoin.image.url }}" alt="Coin" style="width:100%">
                    <div class="w3-container w3-center">
                        <a href="{% url 'coins:imagecoin_detail' imagecoin.pk %}">
                            <p>{{ imagecoin.coin.name }}</p>
                        </a>
                    </div>
                    <div class='w3-container w3-right'>
                        <a href="{% url 'coins:coin_delete' imagecoin.coin.pk %}"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
            {% empty %}
            <li>No articles yet.</li>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}