{% extends 'base.html' %}
{% block content %}
<div class="w3-container">
    <div class="w3-display-container" style="margin-top: 64px; height: 300px">
        <div class="w3-display-topmiddle">
            <h2>Login</h2>
        </div>
        <div class="w3-display-middle w3-margin-top">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.username.errors }}
                    <label for="{{ id_username }}">Email:</label>
                    <input class="w3-input" id="id_username" name="username" type="text" class="form-control">
                </div>
                <p></p>
                <div class="fieldWrapper">
                    {{ form.password.errors }}
                    <label for="{{ id_password }}">Password:</label>
                    <input class="w3-input" id="id_password" name="password" type="password" class="form-control">
                </div>
                <p></p>
                <button class="w3-margin-top w3-right" type="submit">Login</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}